.product--button-cart{
    border:none;
    border-radius: 10px;
    padding: 10px 15px;
    color: #fff;
    cursor: pointer;
}

.button--active{
    background-color: #FF00F7;
    color: #fff;
}

.button--out-of-stock{
    background-color: #999;
    color: #282828;
    cursor: not-allowed!important;
}