

.error{
    color: #991919;
    margin-bottom: 10px;
    font-style: italic;
}

  @media all and (min-width: 480px) {
    .Login {
      padding: 50px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }
  }


